/* Faculty.css */
.circular-image-container {
    width: 180px; /* Adjust as needed */
    height: 180px; /* Adjust as needed */
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto; /* Center the image */
    margin-top: 30px;
}
  
.circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
}

.name {
    color: blue;
    font-weight: bold;
}

