/* Courses.css */
.container {
    padding: 50px;
}

.inner-container{
    margin-bottom: 100px;
}

.heading{
    color: rgb(66, 123, 125);
    margin-bottom: 20px;
}

.btn-light{
    width: 100px;
    background-color: rgb(222, 221, 221);
}

.form-select{
    width: 100px;
}

.profileContainer {
    margin-top: 10%;
    margin-left: 15%;
}