* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}
main {
  padding: 13px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 600;
  overflow-y: auto;
  font-size: 25px;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 30px;
  line-height: 0;
  margin-top: 10px;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.routes {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link {
  display: flex;
  color: rgb(0, 0, 0);
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 4px solid rgb(0, 0, 0);
  background: rgba(193, 197, 223, 0.908);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid rgb(0, 0, 0);
  background: rgb(186, 189, 214);
}
.link_text {
  margin-top: 6px;
  white-space: nowrap;
  font-size: 18px;
}

.menu {
  display: flex;
  color: rgb(0, 0, 0);

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 30px;
  border-bottom: #000000 0.5px ;
}
